/* BIG DESKTOP VIEW */

@media only screen and (min-width: 65em) {
    header li {
        display: inline !important;
    }
    header li:first-child {
        display: none !important;
    }
    header nav {
        background-color: #CECFD1;
    }
    header nav a {
        display: inline;
        border-top: none;
    }
    nav a:hover {
        letter-spacing: 3pt !important;
    }
    .navigation {
        width: 100%;
        justify-content: start;
    }
}